html, body, #root {
  height: 100%;
  width: 100%;
}

.main {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 80px repeat(12, 1fr);
  height: 100%;
  width: 100%;
}

.players-button {
  height: 40px;
  width: 140px;
}