.nav-bar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.nav-bar-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 100%;
    color: white;
}

.nav-bar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 100%;
    color: white;
    background-color: #313146;
    font-weight: bold;
    font-size: 18px;
    

}